<% case controller_name %>
<% when "donors" %>
	<% title = "Donors" %>
<% when "donations" %>
	<% title = "Donations" %>
<% when "funds" %>
	<% title = "Fundraisers" %>
<% when "accounts" %>
  <% case action_name %>
  <% when "setup" %>
  	<% title = "Account Setup" %>
  <% else %>
    <% title = "Settings" %>
  <% end %>
<% when "users" %>
	<% title = "Users" %>
<% else %>
  <% title = "Test" %>
<% end %>


<div id="content_header">
	<h1><%= title %></h1>

	<div class="header-actions">
		<% case controller_name %>
		<% when "accounts" %>
			<% case action_name %>
			<% when "show" %>
        <%= link_to "New Account", new_account_path, class: "btn btn-default pull-right" %>
				<% if true #current_user.has_multiple_accounts? %>
					<div class="btn-group accounts pull-right">
          <button type="button" class="btn btn-default"><%= current_user.name('human') %></button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-angle-down"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <% current_user.accounts.each do |account| %>
							<li><%= link_to account.business_name, "#" %></li>
            <% end %>
          </ul>
        </div>
				<% end %>
			<% end %>
		<% when "donations" %>
			<% case action_name %>
			<% when "index" %>
				<div class="btn-group export pull-right">
          <button type="button" class="btn btn-default">Export</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="fa fa-angle-down"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="#">Current Page</a></li>
            <li><a href="#">All Donations</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default pull-right filter-donations">Filter Donations</button>
			<% end %>
		<% when "funds" %>
			<% case action_name %>
			<% when "index" %>
        <button type="button" class="btn btn-default pull-right">New Fundraiser</button>
			<% end %>
		<% end %>
	</div>
</div>


