<header id="header">
  <div class="container">
    <div class="jumbotron">
      <h1>Plans</h1>
      <p>...</p>
      <p>
        
      </p>
    </div>
  </div>
</header>

<div id="select_bar">
  <div class="container">
    <div class="row">
      <div id="select_toggles" class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6" role="tablist">
        <div class="row">
          <div class="option col-md-4 col-sm-4 col-xs-4">
            <a href="#donor" role="tab" data-toggle="tab">
              <span class="fa fa-thumbs-up"></span>
              <span class="title">Donor</span>
            </a>
          </div>
          <div class="option col-md-4 col-sm-4 col-xs-4">
            <a href="#individual" role="tab" data-toggle="tab">
              <span class="fa fa-user"></span>
              <span class="title">Individual</span>
            </a>
          </div>
          <div class="option col-md-4 col-sm-4 col-xs-4">
            <a href="#organization" role="tab" data-toggle="tab">
              <span class="fa fa-building"></span>
              <span class="title">Teams / Non-Profits</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="selections">
  <div class="container tab-content">
    <div class="tab-pane active center" id="donor">
      <h2 class="">Pricing for Donors</h2>
      <p>Some witty content about signing up for free as a donor. </p>
    </div>
    <div class="tab-pane center" id="individual">
      <h2>Pricing for Inviduals</h2>
      <p>Some witty content about how you get to choose your payment option. </p>
      <br>
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="module">
            <header class="module-header">
              <h2 class="module-title center">Basic</h2>
            </header>
            <div class="module-content">
              <p class="module-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="module-link">Dolorum delectus</a> adipisci quos magnam quo ut cumque dolor atque autem omnis in culpa amet quia ducimus odit, recusandae commodi, nam nulla.</p>
              <ul class="module-list">
                <li class="module-item">
                  <a href="#" class="module-link module-item-link">Link Text</a>
                </li>
              </ul>
            </div>
            <footer class="module-footer">
              <p class="module-text module-footer-text">Short phrase</p>
            </footer>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="module">
            <header class="module-header">
              <h3 class="module-title center">Plus</h3>
            </header>
            <div class="module-content">
              <p class="module-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="module-link">Dolorum delectus</a> adipisci quos magnam quo ut cumque dolor atque autem omnis in culpa amet quia ducimus odit, recusandae commodi, nam nulla.</p>
              <ul class="module-list">
                <li class="module-item">
                  <a href="#" class="module-link module-item-link">Link Text</a>
                </li>
              </ul>
            </div>
            <footer class="module-footer">
              <p class="module-text module-footer-text">Short phrase</p>
            </footer>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="module">
            <header class="module-header">
              <h3 class="module-title center">Premium</h3>
            </header>
            <div class="module-content">
              <p class="module-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="#" class="module-link">Dolorum delectus</a> adipisci quos magnam quo ut cumque dolor atque autem omnis in culpa amet quia ducimus odit, recusandae commodi, nam nulla.</p>
              <ul class="module-list">
                <li class="module-item">
                  <a href="#" class="module-link module-item-link">Link Text</a>
                </li>
              </ul>
            </div>
            <footer class="module-footer">
              <p class="module-text module-footer-text">Short phrase</p>
            </footer>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane center" id="organization">
      <h2>Pricing for Teams and Non-Profits</h2>
      <p>Some witty content about how you get to choose your payment option. </p>
      <br>
    </div>
  </div>
</div>