.header {
  height: 9em;
  min-height: 6em;

  background: $black;
  position: relative;
  z-index:1;
  padding:$line-height-computed;
  h1 {
    float: left;
    overflow: hidden;
    width: 50%;
    margin-top: 0.63157895em;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: $white;
  }
  .page-actions {
    float: right;

    width: 50%;
    height: 15 * 2;
    margin-top: 15;
  }
  .nav {
    a {
      margin: 0 1em;

      color: #656D80;
      &.logo {
        font-family: $source;
        font-weight: 700;
        font-style: italic;

        display: block;
        float: left;

        width: 1.5em;
        height: 1.5em;

        transition: color .5s linear;
        text-align: center;

        color: white;
        border-radius: 4px;
        background: $green;
      }
      &.divider {
        margin: 0;
        color: #656D80;
        cursor: default;
        &:hover {
          color: $gray-light;
        }
      }
      &:hover {
        color: $white;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .logout-nav {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }
}


