// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#donations {
	margin: 1.5em 0;
  background-color: #fff;
  padding: 0;
  list-style: none;
}
.donation {
	list-style: none;
	border-bottom: 1px solid #dedede;
	padding: 0.75em 1.5em;
	input[type="checkbox"] {
		width:50px;
		height:15px;
	  position: absolute;
    left: $base-padding;
    top: $base-padding / 2;
	}
}
