.table-responsive {
	background: #fff;
	.table {
		margin-bottom: 0;
		&.show-filters {
			thead {
				tr.filters {
					display:table-row;
					visibility: visible;
				}
			}
		}
		thead {
			tr.filters {
				display:none;
				visibility: hidden;
			}
			th {
				border-width:1px;
				color: #a0a0a0;
				font-weight: 500;
				a {
					color: #a0a0a0;
					text-decoration: none;
					.fa {
						float: right;
						margin-top: 3px;
					}
				}
				input[type="checkbox"] {
					display: block;
					margin: 0 auto;
					vertical-align: middle;
				}
				&.right {
					text-align:right;
				}
				&.center {
					text-align:center;
				}
			}
		}
		tbody.rowlink {
			tr {
				cursor:pointer;
				td {
					vertical-align: middle;
					a {
						text-decoration:none;
						color:#777;
					}
					input[type="checkbox"] {
						display: block;
						margin: 0 auto;
						vertical-align: middle;
					}
					&.right {
						text-align:right;
					}
					&.cleared {
						// color:#6fbc74;
					}
					&.refunded {
						// color:#f26c6b;
					}
					&.center {
						text-align:center;
					}
				}
				&:hover {
					background:#fdfdfd;
					td {
						color:#555;
						a {
							color:#555;
						}
					}
				}
			}
		}
	}
}

        table {
            width: 100%;
        }

        tbody {
            height: 120px;
            overflow-y: auto;
        }